<div class="flex flex-col items-center justify-center h-screen bg-gradient-to-r from-green-400 via-green-500 to-green-600">
    <mat-card class="w-96 shadow-lg rounded-lg">
      <div class="py-5 text-center text-3xl font-bold text-green-900">
        Réinitialisation du mot de passe
      </div>
      <mat-card-content class="px-10">
        <form [formGroup]="resetPwdForm" (ngSubmit)="onSubmit()" class="flex flex-col gap-4">
          <mat-form-field appearance="outline" class="w-full h-16">
            <mat-label class="text-green-900">Email</mat-label>
            <input matInput type="email" formControlName="email" required class="text-lg h-full" class="text-lg h-full mt-2">
            <mat-error *ngIf="resetPwdForm.get('email')?.invalid">
              Veuillez entrer une adresse email valide.
            </mat-error>
          </mat-form-field>
          <button type="submit" mat-raised-button color="primary" class="w-full bg-green-700 text-white hover:bg-green-900"
            [disabled]="!resetPwdForm.valid">
            Réinitialiser le mot de passe
          </button>
        </form>
      </mat-card-content>
    </mat-card>
</div>
  