<div class="bg-gradient-to-r from-green-600 to-green-800 h-fit w-full bg-no-repeat bg-cover bg-center">
  <app-header></app-header>
  <app-navbar></app-navbar>
  <div *ngIf="!isLoading" class="w-11/12 m-auto mt-10 mb-10 flex flex-col items-center bg-gray-950/60 rounded shadow-2xl shadow-zinc-950 text-white p-10">
    <h1>Créer votre propre communauté au sein de GreenItForward !</h1>
    <form class="w-11/12 mt-4 flex flex-col items-center" (ngSubmit)="beforeSubmit()">
      <div *ngIf="errorMessages.length != 0" class="p-2 border-2 mb-4 border-red-700 rounded text-red-700">
        <ng-container class="flex flex-col" *ngFor="let error of errorMessages">
          <div class="m-2">
            {{error}}
          </div>
        </ng-container>
      </div>
      <input class="mb-2 w-2/5 p-2 rounded text-black" (change)="checkIfValid()" name="name" type="text" placeholder="Nom..." [(ngModel)]="newCommunity.name">
      <textarea class="mb-2 w-2/5 p-2 rounded text-black" (change)="checkIfValid()" name="description" placeholder="Description..." [(ngModel)]="newCommunity.description"></textarea>
      <div class="mb-2 w-2/5 p-2">
        Bannière : <input type="file" name="file" (change)="onFileChange($event)">
      </div>
      <button *ngIf="formIsValid" class="w-1/5 p-2 mt-4 text-white bg-green-700 rounded text-lg text-center cursor-pointer" type="submit">
        Valider
      </button>
      <button *ngIf="!formIsValid" class="w-1/5 p-2 mt-4 text-green-300 bg-green-700/50 rounded text-lg text-center cursor-not-allowed" disabled>
        Valider
      </button>
    </form>

  </div>
  <div *ngIf="isLoading" class="flex items-center m-auto mt-10 mb-10 w-11/12 justify-center bg-gray-950/60 rounded shadow-2xl shadow-zinc-950 text-white p-10" >
    <div class="text-xl font-bold mr-2">
      Loading
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#ebc621" d="M12 2A10 10 0 1 0 22 12A10 10 0 0 0 12 2Zm0 18a8 8 0 1 1 8-8A8 8 0 0 1 12 20Z" opacity=".5"/><path fill="#ebc621" d="M20 12h2A10 10 0 0 0 12 2V4A8 8 0 0 1 20 12Z"><animateTransform attributeName="transform" dur="1s" from="0 12 12" repeatCount="indefinite" to="360 12 12" type="rotate"/></path></svg>
  </div>
  <app-footer></app-footer>
</div>


