.specialBackgroundColor2{
  background-color: rgba(31, 70, 0, 1);
}

.specialBackgroundColor1{
  background-color: rgba(255, 255, 255, 0.08)
}

.buttonBackground{
  background-image: linear-gradient(to right, rgba(255, 182, 41, 1), rgba(255, 215, 166, 1));
}
