<mat-expansion-panel hideToggle class="navbarStyle">
  <mat-expansion-panel-header class="flex justify-center items-center">
    <mat-panel-title class="text-white">
      <div class="text-xl flex items-center justify-center w-full">Home <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24"><path fill="white" d="m12 15.4l-6-6L7.4 8l4.6 4.6L16.6 8L18 9.4l-6 6Z"/></svg></div>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <div class="text-xl text-white text-center">
    <div class="mt-2" routerLink="/">Home</div>
    <div class="mt-2" routerLink="/about">About</div>
    <div class="mt-2" routerLink="/pages">Pages</div>
    <div class="mt-2" routerLink="/project">Project</div>
  </div>
</mat-expansion-panel>
