<div class="block lg:hidden">
  <mat-expansion-panel hideToggle class="noBorders navbarStyle rounded-none">
    <mat-expansion-panel-header class="flex justify-center items-center">
      <mat-panel-title class="text-white">
        <div class="text-xl flex items-center justify-center w-full">Home <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24"><path fill="white" d="m12 15.4l-6-6L7.4 8l4.6 4.6L16.6 8L18 9.4l-6 6Z"/></svg></div>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="text-xl text-white text-center">
      <div class="mt-2" routerLink="/about">About</div>
      <div class="mt-2" routerLink="/pages">Pages</div>
      <div class="mt-2" routerLink="/projects" *ngIf="this.userService.isLoggedIn$ | async">Projects</div>
      <div class="mt-2" routerLink="/community" *ngIf="this.userService.isLoggedIn$ | async">Community</div>
      <div class="mt-2" routerLink="/admin" *ngIf="this.userService.isAdmin()">Admin</div>
    </div>
  </mat-expansion-panel>
</div>
<div class="hidden text-white noBorders navbarStyle h-14 lg:block">
  <div class="flex m-auto w-3/4 h-full items-center">
    <div routerLink="/"
        class="cursor-pointer px-5 border border-x-zinc-100/40 border-y-0 hover:underline hover:underline-offset-8"
        [ngClass]="{'underline underline-offset-8': router.url === '/'}">Home</div>
    <div routerLink="/about"
        class="cursor-pointer px-5 border border-x-zinc-100/40 border-y-0 hover:underline hover:underline-offset-8"
        [ngClass]="{'underline underline-offset-8': router.url === '/about'}">About</div>
    <div routerLink="/pages"
    class="cursor-pointer px-5 border border-x-zinc-100/40 border-y-0 hover:underline hover:underline-offset-8"
         [ngClass]="{'underline underline-offset-8': router.url === '/pages'}">Pages</div>
    <div routerLink="/projects"
         class="cursor-pointer px-5 border border-x-zinc-100/40 border-y-0 hover:underline hover:underline-offset-8"
         [ngClass]="{'underline underline-offset-8': router.url === '/projects'}" *ngIf="this.userService.isLoggedIn$ | async">Projects</div>
    <div routerLink="/community"
         class="cursor-pointer px-5 border border-x-zinc-100/40 border-y-0 hover:underline hover:underline-offset-8"
         [ngClass]="{'underline underline-offset-8': router.url === '/community'}" *ngIf="this.userService.isLoggedIn$ | async">Community</div>
    <div routerLink="/admin"
         class="cursor-pointer px-5 border border-x-zinc-100/40 border-y-0 hover:underline hover:underline-offset-8"
         [ngClass]="{'underline underline-offset-8': router.url === '/admin'}" *ngIf="this.userService.isAdmin">Admin
    </div>
  </div>
</div>
