@import "~font-awesome/css/font-awesome.min.css";

.mat-toolbar.mat-transparent {
    background-color: transparent;
    box-shadow: none;
  }

.desktop {
    mat-toolbar {
        height: 7.5vh;
        padding-left: 20vh;
    }

    .social-media {
      a {
        margin-right: 10px;
      }
    
      a:last-child {
        margin-right: 0;
      }
    }
}

.spacer {
  flex: 1 1 auto;
}