<form (ngSubmit)="submitForm()" class="bg-green-700 text-white p-6 flex flex-col items-center">
  <h2 class="text-yellow-500 mb-2">Créer votre post</h2>
  <div class="w-full flex flex-col items-center" *ngIf="!isLoading">
    <div *ngIf="errorMessages.length !== 0" class=" w-3/4 text-red-700 border-2 rounded p-2 border-red-700 mb-2">
      <ng-container class="flex flex-col" *ngFor="let error of errorMessages">
        <div class="m-2">
          {{error}}
        </div>
      </ng-container>
    </div>
    <input name="subject" [(ngModel)]="newPost.subject" (change)="checkIfValid()" type="text" class="w-3/4 p-2 text-black rounded mb-2" placeholder="sujet du post...">
    <textarea name="text" [(ngModel)]="newPost.text" (change)="checkIfValid()" class="w-3/4 p-2 text-black rounded mb-2" placeholder="text du post..."></textarea>
    <div class="w-full mt-2 flex justify-center">
      <button (click)="closeModal()" class="cursor-pointer w-1/5 text-center rounded text-lg mr-2 px-4 py-2 bg-green-900" disabled>Annuler</button>
      <button *ngIf="formIsValid" class="cursor-pointer w-1/5 text-center rounded text-yellow-500 text-lg px-4 py-2 bg-gradient-to-r from-green-600 to-green-800">Valider</button>
      <button *ngIf="!formIsValid" class="cursor-not-allowed w-1/5 text-center rounded text-gray-950/50 text-lg px-4 py-2 bg-green-900/50" disabled>Valider</button>
    </div>
  </div>
  <div class="w-full flex flex-col items-center" *ngIf="isLoading">
    <div class="text-xl font-bold mr-2">
      Loading
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#ebc621" d="M12 2A10 10 0 1 0 22 12A10 10 0 0 0 12 2Zm0 18a8 8 0 1 1 8-8A8 8 0 0 1 12 20Z" opacity=".5"/><path fill="#ebc621" d="M20 12h2A10 10 0 0 0 12 2V4A8 8 0 0 1 20 12Z"><animateTransform attributeName="transform" dur="1s" from="0 12 12" repeatCount="indefinite" to="360 12 12" type="rotate"/></path></svg>
  </div>
</form>

