<div class="bg-gradient-to-r from-green-600 to-green-800 bg-top w-full bg-no-repeat bg-cover bg-center pb-10">
<app-header></app-header>
<app-navbar></app-navbar>

<div class="container mx-auto px-4 py-5 w-11/12 m-auto mt-10 flex flex-col items-center bg-gray-950/60 rounded shadow-2xl shadow-zinc-950 text-white p-10 ">
  <h1>Tout les projets :</h1>
  <div routerLink="/community/create" class="flex items-center w-fit bg-green-700 rounded p-2 cursor-pointer">
    <div class="mr-2">Créer un projet</div>
    <div><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#ebc621" d="M11 19v-6H5v-2h6V5h2v6h6v2h-6v6h-2Z"/></svg></div>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
    <div
      *ngFor="let project of projects"
      class="flex flex-col justify-center items-center bg-green-900 hover:bg-green-800 rounded p-8 cursor-pointer text-white"
      (click)="goToProject(project.id)"
    >
      <div class="flex justify-center items-center h-64 w-full">
        <img
          [src]="project.imageUrl"
          class="w-64 h-64 object-cover"
          alt="{{ project.name }}"
        />
      </div>
      <div class="px-6 py-4">
        <div class="text-center text-xl mb-2 text-white">
          {{ project.name }}
        </div>
        <p class="text-base text-white text-center">
          {{ project.description }}
        </p>
      </div>
      <div class="px-6 pt-4 pb-2">
        <span
          class="inline-block bg-darkgreen-700 rounded-full px-3 py-1 text-sm text-white mr-2 mb-2"
        >
          {{ project.amountRaised }}€ / {{ project.totalAmount }}€
        </span>
      </div>
      <div class="px-6 pt-4 pb-2">
        <button
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
          (click)="goToProject(project.id)"
        >
          En savoir plus
        </button>
        <button
          class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded ml-4"
          (click)="payNow(project)"
        >
          Faire un dons
        </button>
      </div>
    </div>
  </div>
</div>
</div>
<app-footer></app-footer>
