<div class="bg-gradient-to-r from-green-600 to-green-800 bg-top w-full bg-no-repeat bg-cover bg-center">
  <app-header></app-header>
  <app-navbar></app-navbar>
  <div class="w-11/12 m-auto mt-10 mb-10 flex justify-center items-center bg-gray-950/60 rounded shadow-2xl shadow-zinc-950 text-white p-4">
    <div class="flex flex-wrap justify-between items-start">
      <div class="w-full md:w-1/2">
      <img *ngIf="noImage" [src]="'./assets/' + project.imageUrl" class="w-full h-auto object-cover rounded-md" alt="Project Image">
      <img
      *ngIf="imageSrc" [src]="imageSrc" class="w-full h-auto object-cover rounded-md" alt="Project Image">
      </div>
      <div class="w-full md:w-1/2 md:pl-4">
        <h1 class="text-2xl text-yellow-500">{{ project.name }}</h1>
        <p class="text-sm text-darkgreen-500">Description : {{ project.description }}</p>
        <div class="mt-4">
          <div class="text-2xl mb-3">Montant collecté : 
           <span class="text-yellow-500 text-3xl">{{ project.amountRaised }} €
            </span>
           </div>
          <div class="text-darkgreen-900">
            <div class="text-2xl mb-3">Montant nécéssaire  : 
              <span class="text-green-500 text-3xl">{{ project.totalAmount }} €
              </span>
            </div>
          <div class="mt-10">
            <span class="text-yellow-500"> {{ creationDate }}</span>
          </div>
          <div>
              <span class="text-red-500 text-lg"> {{ endDate }}</span>
          </div>

          <button class="mt-4 bg-darkgreen-800 hover:bg-darkgreen-900 text-green-600 font-bold py-2 px-4 rounded-lg hover:text-green-400 border border-green-600 hover:border-green-400" (click)="payNow(project)">Faire un don pour ce projet</button>
        </div>
      </div>
      <div class="w-full text-right mt-4 md:mt-0">
        <div class="text-darkgreen-500">Ce projet à été créé par : {{ project.createdBy.firstName }} {{ project.createdBy.lastName }}</div>
        <button class="mt-4 bg-darkgreen-800 hover:bg-darkgreen-900 text-green-600 font-bold py-2 px-4 rounded-lg hover:text-green-400 border border-green-600 hover:border-green-400" (click)="onBack()">Retour</button>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
