<app-navbar></app-navbar>
<div class="container mx-auto p-4">
  <div class="flex flex-wrap justify-between items-start">
    <div class="w-full md:w-1/2">
      <img [src]="project.imageUrl" class="w-full h-auto object-cover rounded-md" alt="Project Image">
    </div>
    <div class="w-full md:w-1/2 md:pl-4">
      <h1 class="text-2xl font-bold text-darkgreen-900">{{ project.name }}</h1>
      <p class="text-sm text-darkgreen-500">{{ project.description }}</p>
      <div class="mt-4">
        <div class="text-darkgreen-900">Raised: €{{ project.amountRaised }}</div>
        <div class="text-darkgreen-900">Goal: €{{ project.totalAmount }}</div>
        <div class="text-darkgreen-900">Start Date: {{ project.startDate | date }}</div>
        <div class="text-darkgreen-900">End Date: {{ project.endDate | date }}</div>

        <button class="mt-4 bg-darkgreen-800 hover:bg-darkgreen-900 text-green-600 font-bold py-2 px-4 rounded-lg" (click)="payNow(project)">Pay Now</button>
        
      </div>
    </div>
    <div class="w-full text-right mt-4 md:mt-0">
      <div class="text-darkgreen-500">Created by: {{ project.createdBy }}</div>
      <button class="mt-4 bg-darkgreen-800 hover:bg-darkgreen-900 text-green-600 font-bold py-2 px-4 rounded-lg" (click)="onBack()">Back</button>
    </div>
  </div>
</div>
<app-footer></app-footer>