<div class="body bg-top h-full w-full bg-no-repeat bg-cover bg-center">
  <app-header></app-header>
  <app-navbar></app-navbar>
  <div class="ml-14 lg:ml-80 mt-20 lg:mt-32 w-fit flex flex-col text-white">
    <div class="w-fit mb-6 lg:mb-2 py-1 px-2 border-8 border-y-0 border-r-0 border-l-amber-300 bg-gray-950/50">Logistics & Supply Chain Solutions</div>
    <div class="w-full lg:w-1/3 mb-6 lg:mb-2 text-5xl lg:text-6xl font-bold">Mauris sed euismod tellu</div>
    <div class="w-4/5 mb-6 lg:mb-2">Curabitur ac lacinia tellus. Aenean eu justo accumsan lectus maximus dapibus. Curabitur consectetur, neque vitae pulvinar pretium, turpis dolor mollis risus, vitae fringilla ex diam sed turpis.</div>
    <div class="buttonBackground cursor-pointer w-fit mb-6 lg:mb-2 text-lg text-black bg-amber-400 py-4 px-8">Explore More</div>
  </div>
</div>
