<div class="lg:hidden bg-dark-green text-white py-4 px-2 fixed bottom-0 w-full h-16">
    <nav class="flex justify-around">
      <a routerLink="/admin" class="flex flex-col items-center hover:text-white">
        <i class="fas fa-home"></i>
        <span>Accueil</span>
      </a>
      <a routerLink="/admin/statistics" class="flex flex-col items-center hover:text-white">
        <i class="fas fa-chart-line"></i>
        <span>Statistiques</span>
      </a>
      <a routerLink="/admin/gestion" class="flex flex-col items-center hover:text-white">
        <i class="fas fa-users"></i>
        <span>Gestion</span>
      </a>
    </nav>
  </div>
  
  <div class="hidden lg:block bg-dark-green text-white w-64 space-y-6 py-7 px-2 absolute inset-y-0 left-0 transform -translate-x-full md:relative md:translate-x-0 transition duration-200 ease-in-out h-full min-h-screen">
    <h2 class="text-3xl font-extrabold italic mb-8 text-center">Administration</h2>
    <nav>
      <a routerLink="/admin" class="block py-2.5 px-4 rounded transition duration-200 hover:bg-green-700 hover:text-white">Accueil</a>
      <a routerLink="/admin/statistics" class="block py-2.5 px-4 rounded transition duration-200 hover:bg-green-700 hover:text-white">Statistiques</a>
      <a routerLink="/admin/gestion" class="block py-2.5 px-4 rounded transition duration-200 hover:bg-green-700 hover:text-white">Gestion des utilisateurs</a>
    </nav>
  </div>
  